$main-color: #E54242;
$background-color: #F3F5F5;
$green-color: #1DD271;
$nice-black: rgb(38, 38, 38);

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@mixin shadow($opacity) {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,$opacity);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,$opacity);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,$opacity);
}

@mixin text-shadow($opacity) {
    text-shadow: 2px 2px rgba(0, 0, 0, $opacity);
    -webkit-text-shadow: 2px 2px rgba(0, 0, 0, $opacity);
    -moz-text-shadow: 2px 2px rgba(0, 0, 0, $opacity);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

input[type="text"], input[type="password"] {
    width: 100%;
    height: 48px;
    margin-top: 8px;
    padding: 12px 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 22px;
    border-radius: 4px;
    padding-right: 50px;
    border: 0.5px solid $main-color;
    -webkit-box-shadow: inset 0 3px 0 0 rgba(0,0,0,.05);
    box-shadow: inset 0 3px 0 0 rgba(0,0,0,.05);
    color: lighten(black, 5);
    // text-transform: uppercase;
    &::placeholder {
        text-transform: none;
        color: #828585;
        font-size: 20px;
    }
    &:focus {
        border: 2px solid $main-color;
        outline: none; 
    }
}


.hide-t {
    color: transparent;
    font-size: 24px;
}
.active {
    border-bottom: 2px solid $green-color;
}

