.admin-dashboard {
    .content {
        .top {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 40px;
            margin-bottom: 40px;
            h3 {
                flex: 1 0 30%;
                font-weight: bold;
                margin: 10px 0 0 0;
            }
            .warning {
                background-color: rgba(255, 0, 15, 0.6);
                color: white;
                padding: 12px 16px;
                flex: 3 0 70%;
                line-height: 16px;
                text-align: center;
            }
        }
        .area {
            background-color: white;
            @include shadow(0.1);
            border-radius: 4px;
            height: 350px;
            padding: 14px;
            overflow: scroll;
            overflow-x: hidden;
            h4 {
                margin: 0;
                font-weight: 600;
                small {
                    padding-left: 20px;
                }
            }
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px rgb(88, 88, 88); 
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background:$main-color; 
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: darken($main-color, 10);
                cursor: grab; 
            }
        }
        .users {
            table {
                td {
                    line-height: 32px;
                }
                td:last-of-type {
                    i {
                        color: white;
                        font-weight: bold;
                        border-radius: 30px;
                        padding: 8px;
                        
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.05);
                        }
                    }
                    i:first-of-type {
                        background-color: rgba(0, 200, 0, 0.8);
                    }
                    i:last-of-type {
                        background-color: rgba(255, 0, 0, 0.8);
                    }
                }
            }
        }
        .log {
            overflow: hidden;
        }
    }
}

.gap-top {
    margin-top: 35px;
}
.form-gap {
    margin-bottom: 20px;
    p {
        margin-bottom: 0px;
        font-size: 16px;
    }
}
.add-store {
    height: 800px !important;
    overflow: hidden !important;
}
.time-manager {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
    input {
        border-color: $main-color;
        border-style: solid;
        border-radius: 4px;
        border-width: 1px;
    }
}

.checkbox-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .check {
        height: 50px;
        input {
            display: none;
        }
    }
}

.label__checkbox {
    display: none;
  }
  
  .label__check {
    display: inline-block;
    border-radius: 10px;
    border: 3px solid rgba(0,0,0,0.1);
    background: white;
    vertical-align: middle;
    margin-right: 20px;
    padding: 20px;
    height: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border .3s ease;
    
    p {
        color: $main-color;
    }
    
    &:hover {
      border: 3px solid rgba(0,0,0,0.2);
    }
  }
  
  .label__checkbox:checked + .label__text .label__check {
    animation: check-change .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
    
    p {
      opacity: 1;
      color: white;
      -webkit-text-stroke: 0;
      animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
    }
  }
  
  
  @keyframes icon {
    from {
      opacity: 0;
      color: black;
    }
    to {
      opacity: 1;
      color: white;
    }
  }
  
  @keyframes check-change {
    0% {
      height: 2em;
      border-width: 5px;
    }
    10% {
      height: 2em;
      background: rgba(0,0,0,0.2);
      border-width: 15px;
    }
    12% {
      height: 2em;
      background: rgba(0,0,0,0.1);
      border-width: 0;
    }
    50% {
      height: 2em;
      background: lighten($main-color, 15);
      border: 0;
    }
    100% {
      height: 2em;
      background: $main-color;
      color: white;
      border: 0;
    }
  }

  .description-area {
      textarea {
          border: 1px solid $main-color;
          border-radius: 4px;
      }
  }