@import "variables.scss";
@import "navbar.scss";
@import "store.scss";
@import "admin.scss";
@import "modalStyles.scss";
@import "account.scss";

body {
    font-family: "Lato", sans-serif;
    background-color: $background-color;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden; 
    filter: blur(0);   
    -webkit-filter: blur(0);
    margin: 0px;
    padding: 0px;
    background-color: #F3F5F5;
    color: #303235;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.error {
    color: $main-color;
}
.message {
    font-size: 18px;
    color: $green-color;
    font-weight: bold;
}
.site-button {
    padding: 10px 12px;
    background-color: $main-color;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border-radius: 4px;
    margin-top: 40px;
    @include shadow(0.1);
    border: none;
    
}
.site-button-small {
    padding: 8px 10px;
    background-color: $main-color;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 12px;
    @include shadow(0.1);
    border: none;
    
}
.home-page {
    section.hero {
        height: 585px;
        animation: fadein .5s;
        width: 100%;
        background-image: url("/hero.png");
        background-size: cover;
        background-repeat: no-repeat;
        @include shadow(0.15);
        .info-area {
            padding-top: 50px;
            text-align: center;
            .error {
                font-weight: bold;
                text-align: center;
                font-size: 24px;
            }
            h2 {
                text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
                color: white;
                font-weight: bold;
                font-size: 45px;
                text-align: center;
                span {
                    color: $green-color;
                }
            }
            form {
                margin-top: 30px;
                &:focus {
                    outline: none;
                }
                label {
                    color: white;
                    font-weight: 500;
                    font-size: 22px;
                }
                .address-search {
                    width: 50%;
                    margin: 30px auto 0 auto;
                    position: relative;
                    .postcode-input:focus + .enter {
                        border: 2px solid $main-color;
                        border-left: none;
                    }
                    .enter {
                        position: absolute;
                        right: 0;
                        top: 8px;
                        height: 48px;
                        width: 60px;
                        border: 0.6px solid $main-color;
                        border-left: white 2px solid;
                        outline: none;
                        background-color: white;
                        border-radius: 3px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        background-image: url("/favicon.png");
                        background-size: 40px 40px;
                        background-position-x: 50%;
                        background-position-y: 50%;
                        background-repeat: no-repeat;
                        -webkit-box-shadow: inset 0 3px 0 0 rgba(0,0,0,.05);
                        box-shadow: inset 0 3px 0 0 rgba(0,0,0,.05)
                    }
                }
            }
            .step-box {
                display: flex;
                flex-direction: row;
                margin-top: 30px;
                .step {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: row;
                    span.circle {
                        display: block;
                        height: 45px;
                        width: 45px;
                        line-height: 41px;
                    
                        -moz-border-radius: 30px;
                        border-radius: 30px;
                        margin-left: auto;
                        padding-right: 1px;
                    
                        border: 2px solid $main-color;
                        font-weight: bold;
                        background-color: transparent;
                        color: white;
                        text-align: center;
                        font-size: 2em;
                    }
                }
                p {
                    color: white;
                    font-size: 21px;
                    width: 70%;
                    margin-left: 24px;
                    text-align: left;
                    @include text-shadow(0.5);
                    span {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    section.driver-signup {
        background-color: #F1F1F1;
        .content {
            animation: fadein .5s;
            width: 750px;
            height: 700px;
            margin: 0 auto;
            padding: 90px 0;
            border-radius: 4px;
            text-align: center;
            h3 {
                font-weight: 700;
                font-size: 40px;
                color: $main-color;
            }
            p.desc {
                font-size: 18px;
                margin-bottom: 40px;
            }
            .transport-methods {
                display: flex;
                flex-direction: column;
                .box {
                    background-color: white;
                    padding: 10px 30px;
                    width: 80%;
                    margin: 0 auto 15px auto;
                    display: flex;
                    flex-direction: row;
                    i {
                        font-size: 42px;
                    }
                    p {
                        margin-left: 20px;
                        font-size: 16px;
                    }
                }
            }
            button {
                padding: 10px 16px;
                border-radius: 3px;
                background-color: $main-color;
                color: white;
                font-weight: 600;
                font-size: 20px;
                border-radius: 4px;
                border: none;
                margin-top: 15px;
                @include shadow(0.1);
            }
        }
    }
    section.areas {
        height: 400px;
    }
}

.user-auth {
    section {
        margin-top: 30px;
        margin-bottom: 500px;
        h3 {
            font-size: 24px;
        }
        form {
            margin-top: 30px;
            p {
                margin-bottom: 0;
            }
            input {
                margin-bottom: 20px;
            }
        }
    }
    .user-auth-submit {
        margin-top: 10px;
        padding: 6px 10px;
        border-radius: 4px;
        background-color: $main-color;
        color: white;
        font-weight: bold;
        font-size: 18px;
        width: 30%;
        border: none;
        text-align: center;
        @include shadow(0.05);
        .gap-right {
            margin-left: 20px;
        }
    }
}

.FourOFour {
    text-align: center;
    margin-top: 10vh;
    h3 {
        padding-top: 5vh;
        font-size: 44px;
        font-weight: bold;
        margin-bottom: 50px;
        margin-top: 40px;
    }
    a {
        background-color: $main-color;
        padding: 8px 4px;
        border-radius: 4px;
        color: white;
        font-size: 26px;
    }
}

.wrapper {
    min-height: 100%;
    margin-bottom: -250px;
    padding-bottom: 250px;
}


footer {
    background-color: #2e3333;
    width: 100%;
    height: 250px;
    overflow: hidden;
    .row:first-of-type {
        padding: 24px;
    }
    .row:last-of-type {
        margin-bottom: 24px;
    }
    .col-xs-4 {
        background-color: hsla(0,0%,100%,.1);
        border-radius: 5px;
        background-clip: content-box;
        
        h5 {
            color: white;
            font-weight: bold;
            font-size: 16px;
            margin: 16px 0 8px;
            padding-left: 15px;
        }
        ul {
            list-style: none;
            padding-left: 15px;
            color: white;
            li {
                padding-top: 4px;
                font-size: 14px;
                &:hover {
                    color: $main-color;
                    cursor: pointer;
                }
            }
        }
    }
    .social-row {
        display: flex;
        flex-direction: row;
        margin-left: 25px;
        i {
            margin-right: 8px;
            width: 40px;
            height: 40px;
            color: white;
            font-size: 24px;
        }
    }
}

.big-shop {
    margin-top: 50px;
    cursor: pointer;
    // transition: ease-in-out .1s;
    // &:hover {
    //     transform: scale(1.03);
    // }
    .top-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        h4 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            width: 40%;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 4px;
        }
        p {
            text-align: end;
            line-height: 56px;
            margin-bottom: 0px;
            font-size: 18px;
            width: 60%;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .image-holder {
        width: 100%;
        height: 300px;
        position: relative;

        img {
            width: 100%;
            height: 300px;
            border-radius: 4px;
            border: 1px solid $main-color;
            @include shadow(0.2);
        }
        p {
            margin: 0px;
        }
        .popular {
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 6px;
            background-color: $green-color;
            color: white;
            width: 80px;
            text-align: center;
            border-radius: 30px;
            @include shadow(0.15);
        }
        .wait-time {
            position: absolute;
            padding: 10px;
            background-color: $main-color;
            color: white;
            bottom: -20px;
            font-size: 18px;
            border-radius: 4px;
            display: flex;
            i {
                margin-right: 8px;
                color: white;
                font-size: 22px;
                align-self: center;
            }
        }
        .dropdown-button {
            display: flex;
            i {
                align-self: center;
                vertical-align: center;
                padding-left: 6px;
            }
            padding: 10px;
            color: white;
            font-size: 28px;
            border-radius: 4px;
            right: 0;
            bottom: -20px;
            background-color: $main-color;
            position: absolute;
            text-align: center;
            width: 50px;
            height: 45px;
        }
    }
}
.area-page {
    .wrapper {
        min-height: 2000px;
        .main {
            margin-top: 20px;
            h2, h3 {
                margin-top: 0px;
            }
        }
    }
}

.popover-holder {
    position: relative;
}
.popover {
    display: block;
    visibility: visible;
    padding: 0;
    background-color: transparent;
    border: none;
    .invis {
        visibility: hidden;
        display: none;
        animation: fadeout .3s;
    }
    .visibile {
        &:hover {
            cursor: default;
        }
        &::before {
            content:"\25b2";
            z-index: 400;
            border-style: solid;
            color: $main-color;
            border-width: 10px 15px 10px 0px;
            border-color: transparent transparent transparent transparent;
            position: absolute;
            right: 4px;
            top: -28px;
        }
        display: block;
        visibility: visible;
        animation: fadein .3s;
        z-index: 20;
        position: absolute;
        top: 62px;
        left: -12px;
        color: white;
        background-color: $main-color;
        border-radius: 4px;
        padding: 12px 16px;
        height: 200px;
        width: 180px;
        list-style: none;
        font-size: 20px;
        li {
            margin-bottom: 10px;
            text-align: center;
            transition: ease-in-out .2s;
            width: 100%;
            &:hover {
                cursor: pointer;
                color: $nice-black;
                transition: ease-in-out .2s;
                background-color: darken($main-color, 3);
            }
        }
    }
}

.shop-page {
    .top {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 25px;
       .left {
           h2 {
               margin-top: 0px;
                span {
                    color: blue;
                    &:hover {
                        cursor: pointer;
                    }
                }
           }
            p {
                padding: 6px 8px;
                background-color: $nice-black;
                border-radius: 10px;
                color: white;
                text-align: center;
                width: 60%;
                margin-top: 15px;
                &:hover {
                    cursor: pointer;
                }
            }
            img {
                width: 380px;
                height: 280px;
                border-radius: 4px;
                @include shadow(0.15);
            }
       }
       .left {
            margin-left: 20px;
            width: 400px;
            .categories {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                span {
                    background-color: white;
                    color: $main-color;
                    border-radius: 4px;
                    border: 1px solid $main-color;
                    padding: 6px 10px;
                    margin-right: 10px;
                    margin-top: 10px;
                    i {
                        padding-right: 8px;
                    }
                }
            }
       }
       .right {
            padding: 16px;
            margin-top: 55px;
            .estimated-time p{
                padding: 6px 8px;
                background-color: $main-color;
                border-radius: 4px;
                color: white;
            }
       }
    }
    .body {
        padding: 0 10px;
        margin-top: 25px;
        .menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

.shop-item {
    height: 180px;
    width: 180px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(253, 12, 12, 0.1);
    @include shadow(0.05);
    margin: 0 10px;
    padding: 4px;
    h4 {
        font-weight: bold;
        text-align: center;
        margin: 4px 0;
    }
}



