@keyframes modalFade {
    from {transform: scaleX(1) ;opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
}

@keyframes modalBackgroundFade {
    from {transform: scaleX(1) ;opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
}

.ReactModal__Body--open {
    overflow: hidden;
}
.ReactModal__Overlay--after-open {
    opacity: 1;
    animation-duration: 0.2s;
    animation-name: modalBackgroundFade;
}
.ReactModal__Content--after-open {
    animation-duration: 0.2s;
    animation-name: modalFade;
    animation-delay: 0.2s;
    animation-fill-mode: both;
}
.modal-outer {
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    content: "";
    background: rgba(46,51,51,0.9);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    overflow: auto;
}
.modal-content {
    position: initial;
    width: 100%;
    max-width: 546px;
    margin: 0;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    outline: none;
    height: 600px;
    transition: all 0.5s ease-in;
    @include shadow(0.2);
    border-radius: 4px !important;
}
.modal-inner {
    width: 100%;
    display: flex;
    background-color: white;
    text-align: center;
    color: $nice-black;
}






.become-a-driver-modal {
    background: white;
    .top {
        width: 100%;
        height: 60px;
        background-color: $main-color;
        color: white;
        @include shadow(0.2);
        h2 {
            font-weight: bold;
            font-size: 32px;
            margin-top: 0px;
            padding-top: 12px;
        }
        .close-button {
            position: absolute;
            top: 8px;
            right: 0px;
            width: 45px;
            i {
                font-size: 22px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .body {
        padding: 16px;
        padding-top: 30px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        h4 {
            font-weight: bold;
            font-size: 24px;
            margin-top: 40px;
        }

        ul {
            list-style: none;
            padding-left: 0;

            li:before {
                content: '✓';
                margin-right: 10px;
                font-weight: bold;
                color: green;
                font-size: 24px;
              }
        }

        a {
            padding: 14px 18px;
            border-radius: 4px;
            font-size: 18px;
            color: white;
            background-color: $main-color;
            font-weight: bold;
            width: 160px;
            text-align: center;
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 90px;
            &:hover {
                text-decoration: none;
            }
        }

        small {
            color: grey;
            font-size: 12px;
        }
    }
}

