.navbar {
    background-color: $main-color;
    color: white;
    border: none;
    border-radius: 0px;
    height: 50px;
    margin-bottom: 0px;
    min-height: 30px;
    @include shadow(0.05);
    
    .navbar-header {
        line-height: 10px;
    }
    .navbar-brand-container {
        img {
            height: 60px;
            width: 260px;  
        }
    }
    .navbar-brand {
        color: white;
        line-height: 0px;
        font-weight: bold;
        font-size: 2.2rem;
        float: right;
        transition: ease-in-out .5s;
    }
    .profile-name {
        &:hover {
            cursor: pointer;
        }
        i {
            margin-left: 8px;
        }
    }
    .navbar-nav>li>a {
        font-weight: 600;
        line-height: 20px;
        font-size: 18px;
        color: white;
        height: 50px;
        margin-left: 8px;
        transition: ease-in-out .3s;
        border-radius: 3px;
        &:hover, &:active, &:focus {
            background-color: darken($main-color, 10);
            color: white;
        }
    }
}
