.holder {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .page-area {
        width: 35%;
        height: 400px;
        border-radius: 4px;
        background-color: white;
        border: 1px solid $main-color;
        margin-top: -150px;
        @include shadow(0.2);

        .top {
            display: flex;
            justify-content: center;
            h3 {
                margin: 10px 0;
                font-weight: bold;
                @include text-shadow(0.1);
                span {
                    font-weight: 500;
                }
            }
        }

        .body {
            p {
                margin-top: 30px;
            }
            input {
                width: 70%;
                text-align: center;
                padding: 12px 16px;
                &::placeholder {
                    text-transform: none;
                    color: #828585;
                    font-size: 22px;
                    text-align: center;
                }
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }
}