<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <style type="text/css">
            @import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
            * {
                -webkit-font-smoothing: antialiased;
            }
            body {
                Margin: 0;
                padding: 0;
                min-width: 100%;
                font-family: "Lato", sans-serif;
                -webkit-font-smoothing: antialiased;
            }
            .top-area {
                width: 100%;
                height: 80px;
                background-color: #E54242;
                color: white;
                text-align: center;
                -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
                -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
                box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
            }
            .top-area img {
                margin-top: 14px;
            }
            .top-area h2 {
                font-size: 34px;
                margin-top: 25px;
            }
            .body-area {
                color: rgb(38, 38, 38);
                text-align: center;
            }
            .body-area h4 {
                font-size: 28px;
                font-weight: 500;
            }
            .gap-bottom {
                margin-bottom: 40px;
            }
            a {
                padding: 12px 16px;
                color: white;
                background-color: #E54242;
                font-size: 22px;
                font-weight: bold;
                border-radius: 4px;
                margin-top: 60px;
                text-decoration: none;
                -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
                -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
                box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
            }
        </style>
    </head>

    <body>
        <div class="top-area">
            <!--<img src="http://localhost:3000/logo.png" /> -->
            <h2>DeliverMe</h2>
        </div>
        <div class="body-area">
            <h4>Welcome to DeliverMe <strong><%= name %></strong></h4>
            <p>You are receiving this email as you have recently created an account on our site.</p>
            <p>You should click the link below to verify your account.</p>
            <p class="gap-bottom">Once you have clicked the link you may sign in and use our services.</p>
            <a target="_blank" href="http://localhost:7033/user/confirmation/<%= token %>">Verify Account</a>
        </div>
    </body>
</html>